 /*Root variables  */
:root {
    --light-blue: #007BFF;
    --light-gray: #6c757d;
    --gray: #5A6268;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--light-gray);
}

input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px;
    color: var(--light-gray);
}

/* MAIN CSS */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    height: 40px;
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-top: 200px;
}

@media only screen and (min-width: 1300px) {
    .container {
        flex-direction: row;
    }
}

/* VIDEO CSS */
.video-container {
    margin: 10px;
    height: 350px;
    width: 640px;
}


/* FORM CSS */
.form-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.loop {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 4px
}

button {
    display: inline-block;
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    color: var(--light-gray);
}

button:hover {
    background-color: var(--gray);
    color: white;
}

button:active{
    background-color:var(--light-gray);
 }

#btn-play-pause {
    background-color: var(--light-blue);
    color: white;
    border: none;
    border-radius: 4px;
    margin: 4px;
}
#btn-custom {
    width: 30%;
}

.btn-now {
    background-color: var(--gray);
    color: white;
    border: none;
    border-radius: 4px;
}

.btn-clicked {
    background-color: var(--gray);
    color: white;
    border: none;
    border-radius: 4px;
}


/* Forms Styles */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--light-blue);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--light-blue);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Slider */
.playback-speed-slider-container {
    width: 100%;
   
}

.playback-speed-slider {
    width: 90%; /* Full-width */
    height: 25px; /* Specified height */
    background: var(--gray); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.playback-speed-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}