html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px;
}

/* MAIN CSS */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
    height: 40px;
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px;
    margin-top: 200px;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

/* VIDEO CSS */
.video-container {
    margin: 10px;
    height: 350px;
    width: 640px;
}


/* FORM CSS */
.form-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 10px;
    width: 640px;
    height: 350px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    display: inline-block;
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}